fastapi
uvicorn
pandas
numpy
scikit-learn==1.3.2
pymongo
python-dotenv
pydantic
pytest
httpx
pypdf
openai
azure-search-documents
azure-core
azure-ai-documentintelligence
azure-storage-blob
pyarrow
azure-ai-textanalytics
certifi